
@page "/fetchdata"

@inject HttpClient Http


<PageTitle>Location</PageTitle>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.1966321418745!2d-94.1386117844337!3d36.356015780042526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c91a99e728f833%3A0x1dd9cfed938a6871!2sSew%20A%20Stitch!5e0!3m2!1sen!2sus!4v1648504130978!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<div class="sqs-block map-block sqs-block-map sized vsize-12" data-block-json="&#123;&quot;location&quot;:&#123;&quot;mapLat&quot;:36.35920417946314,&quot;mapLng&quot;:-94.15133932200318,&quot;mapZoom&quot;:13,&quot;markerLat&quot;:36.35602253057817,&quot;markerLng&quot;:-94.1363954544068,&quot;addressTitle&quot;:&quot;Sew A Stitch&quot;,&quot;addressLine1&quot;:&quot;1311 W Hudson Rd&quot;,&quot;addressLine2&quot;:&quot;Rogers, AR, 72756&quot;,&quot;addressCountry&quot;:&quot;United States&quot;&#125;,&quot;vSize&quot;:12,&quot;style&quot;:1,&quot;labels&quot;:true,&quot;terrain&quot;:false,&quot;controls&quot;:true,&quot;hSize&quot;:null,&quot;floatDir&quot;:null&#125;" data-block-type="4" id="block-yui_3_17_2_4_1430858646116_5084"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_18_1430958914458_37815"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_18_1430958914458_26850"><div class="sqs-block-content"><div class="driving-directions-form">
<h2>Directions</h2>
<p class="driving-directions-text">To obtain directions to our store, enter your starting address below.</p>

<form action="http://maps.google.com/maps" method="get" target="_blank">
<p><label for="mapsUsSaddr">Starting address (street city state zip)</label>
<input type="text" class="text" name="saddr" id="mapsUsSaddr" value="" size="20" />
<input type="submit" class="submit" value="Map It" />
<input type="hidden" name="daddr" value="1311 W Hudson Rd Rogers AR 72756" />
<input type="hidden" name="hl" value="en" /></p>
</form>
<p class="see-you-soon-text">We hope to see you soon!</p>
</div></div></div>

        