@page "/"

<PageTitle>Home</PageTitle>

<h1>Sew a Stitch</h1>
<!doctype html>

    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone"></div>

        <div class="header-inner">
          <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            
              @*<h1 id="logoImage"><a href="/"><img src="https://images.squarespace-cdn.com/content/v1/5546e706e4b014548b741a93/1495031971537-K9IOIWKVHHM827IBQSNW/SAS+Front+Entrance+1.png?format=500w" alt="Sew A Stitch" />
                  </a>
                  </h1>*@
   
          </div>
        

  
  <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
  
              
                <div id="Cover" class="layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
                    
      <div id="content" class="main-content" data-content-field="main-content" data-collection-id="5904c1661e5b6c2c2ded0d35" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1642281307108" id="page-5904c1661e5b6c2c2ded0d35">
             <div class="row sqs-row"><div class="col sqs-col-12 span-12">
                 <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1584403676312_38393">
                     <div class="sqs-block-content"><hr />
                         </div>
                         </div>
                         <div class="row sqs-row">
                             <div class="col sqs-col-6 span-6">
             <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-5894762564377c63f606"><div class="sqs-block-content">















  

    
  
    <div
        class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
        data-test="image-block-inline-outer-wrapper"
    >

      

      
        <figure
            class="
              sqs-block-image-figure
              intrinsic
            "
            style="max-width:2500px;"
        >
          
        
        

        
          
            
          <div
              
              
              class="image-block-wrapper"
              data-animation-role="image"
              
  

          >
            <div class="sqs-image-shape-container-element
              
          
        
              has-aspect-ratio
            " style="
                position: relative;
                
                  padding-bottom:20%;
                
                overflow: hidden;
              "
              >
              <img src="https://images.squarespace-cdn.com/content/v1/5546e706e4b014548b741a93/1495031971537-K9IOIWKVHHM827IBQSNW/SAS+Front+Entrance+1.png?format=500w" alt="Sew A Stitch" />
                  
            </div>
          </div>
        
          
        

        
      
        </figure>
      

    </div>
  


  


</div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_10_1493490569188_26785"><div class="sqs-block-content">


</div></div></div><div class="col sqs-col-6 span-6"><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_13_1430711165614_8915"><div class="sqs-block-content"><div class="business-name-address-phone">
  
<p class="business-address-phone">
  1311 W. Hudson Rd.<br />
  Rogers AR 72756<br />
  <a class="business-phone" href="tel:14796210000">1 (479) 621-0000</a>
  </p>
  
</div></div></div><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_13_1430711165614_14809"><div class="sqs-block-content"><div class="business-hours">
  <p class="title store-hours-title">
    Business Hours 
  </p>
  <p class="hours">
    Tuesday - Friday<br />
    10am - 5pm<br />
    Saturday<br />
    10am - 3pm<br />
    Sunday, Monday & Major Holidays<br />
    Closed
  </p>
</div></div></div></div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1585066908130_20839"><div class="sqs-block-content"><hr /></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_13_1430711165614_71587"><div class="sqs-block-content">

    @*bio*@
<p class="" style="white-space:pre-wrap;">Sew a Stitch opened in 2003 as a local, family owned and operated business. We are an authorized sales and service dealer for Husqvarna Viking, PFAFF and Brother sewing, embroidery machines, accessories and software. 
    We are an Authorized Brother Service Center. We carry a large selection of these manufacturers'&nbsp;sewing and embroidery machines,&nbsp;software and accessories and offer classes in machine embroidery, software, sewing and techniques by qualified teachers. 
    We also offer quilt fabrics, notions, and machine embroidery supplies. You are assured of quality servicing on all brands of sewing machines by our qualified technicians.</p>
    <p class="" style="white-space:pre-wrap;">Your Sew A Stitch Family</p>
<p class="" style="white-space:pre-wrap;">Mark, Joey, Sharla &amp; Jonita</p>


</div></div>
       
    </div>
 


</div></div></div>
   
    

 


